<form [formGroup]="contactForm" (ngSubmit)="onSumbit(contactForm)">
  <p>
    <label for="firstname">First Name</label>
    <input
      type="text"
      id="firstname"
      name="firstname"
     formControlName="firstname"
    />
  </p>

  <p>
    <label for="lastname">Last Name</label>
    <input
      type="text"
      id="lastname"
      name="lastname"
      formControlName="lastname"
    />
  </p>

  <p>
    <label for="email">Email </label>
    <input
      type="text"
      id="email"
      name="email"
      formControlName="email"
    />
  </p>

  <p>
    <label for="gender">Geneder</label>
    <input
      type="radio"
      name="gender"
      formControlName="gender"
      value="male"
    />
    Male
    <input
      type="radio"
      name="gender"
      formControlName="gender"
      value="female"
    />
    Female
  </p>

  <p>
    <label for="isMarried">Married</label>
    <input
      type="checkbox"
      id="isMarried"
      name="isMarried"
      formControlName="isMarried"
    />
  </p>

  <p>
    <label for="country">country </label>
    <select name="country" id="country"  formControlName="country">
      <option selected="" value=""></option>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{ c?.name }}
      </option>
    </select>
  </p>

  <div formGroupName="address">
    <p>
      <label for="city">City</label>
      <input type="text" name="city"  id="city"   formControlName="city"/>
    </p>

    <p>
      <label for="street">Street</label>
      <input
        type="text"
        name="street"
        formControlName="street"
      />
    </p>
    <p>
      <label for="pincode">Pin Code</label>
      <input
        type="text"
        name="pincode"
        formControlName="pincode"
      />
    </p>
  </div>

  <p>
    <button type="submit">Submit</button>
    <button type="button" (click)="reset()">Reset</button>
    <button type="reset">Reset2</button>
  </p>
</form>
<!-- 
{{ contactModel | json }} -->
